.container {
    min-height: 90vh;
    padding: 0 0.5rem;
    align-items: center;
    /* border: #0070f3 1px solid; */
  }
  
  .main {
    max-width: 800px;
    min-height: 90vh;
    margin: 0 auto;
    padding: 2rem 1rem;
    /* border: red 1px solid; */
  }

  .subtitle {
      color: gray;
  }

  .toolbar {
      width: 100%;
      display: inline-block;
      margin: 1vh 0;
  }

  .contentContainer {
      padding: 5px 0;
  }